<a href="https://colab.research.google.com/github/shivikabibipuria-stack/crazypythonprogram/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [7]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [8]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [9]:
sum = 0
for i in range(1, 11):
    sum += i

print("Sum:", sum)

Sum: 55

In [10]:
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50